.feature_card_css{
    transition: all linear .5s;
}
.feature_card_css:hover{
    /* background-color: rgba(195, 193, 193, 0.434);
     */
     background-color: rgba(178, 221, 239, 0.847);
    color: #000;
    border-radius: 5px;
    
}
.feature_card_css:hover .icon{
    color: rgb(235, 99, 167)
}
.horizontal_line{
    --tw-bg-opacity: 1;
    background-color: rgb(125 211 252 / var(--tw-bg-opacity));
    border-radius: 9999px;
    --tw-text-opacity: 1;
    color: rgb(236 254 255 / var(--tw-text-opacity));
    height: 32px;
    width: 32px;
    text-align: center;
}