@tailwind base;
@tailwind components;
@tailwind utilities;
 

.speaker-parent:hover .speaker-hover-icon{
  width: 80px;
  transition: all linear .7s;
}
/* second parent div */
.speaker-parent:hover .second-speaker-child{
  width: 100%;
  transition: all linear .7s;
}
.speaker-hover-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 00px;
  height: 100%;
  background: rgba(0, 0, 0, 0.781);
  overflow: hidden;
  transition: all linear .7s;
  z-index: 999;

}
.second-speaker-child{
  position: absolute;
  top: 0px;
  left: 0;
  width: 0%;
  height: 100%;
  background: #00000084;
  transition: all linear .7s;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.Slideritem_carousel_img__IPczH{
  width: 100%;
}
.label {
  padding-top: 0;
}

